/* HEADER MEDIA SCREEN */

 @media screen and (max-width: 480px) {
    html {
       -webkit-text-size-adjust: none;
    }

    header {

        display: block;
        margin: 0;
        padding: 0;
        height: 57px;
        
    }
    
    .pages {

        display: none;
    }

    .contant {

        margin: 0;
        height: 57px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
    }

    .button-header {

        display: none;
    }

    .phone {

        height: 23px;
        
    }
}


/* SECTION FIRST MEDIA SCREEN */ 

@media screen and (max-width: 480px) {

    .first {

        height: 476px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
        
    }

    .overflow {

        height: 476px;
        display: flex;
        justify-content: center;
        
    }

    .rostov-on-don {

    
        height: 476px;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        padding-top: 85px;
        margin-left: 18px;
        margin-right: 18px;
    
    }

    .Turnkey {

        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 132.83%;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .text {

        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135.84%;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
        padding-top: 16px;
    }

    .interesting {
        font-family: 'Nunito Sans';
        background: none;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
        border-radius: 2px;
        color: white;
        text-transform: uppercase;
        border: 0px;
        font-style: italic;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        height: 51px;
        width: auto;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        margin-top: 60px;
        
    }

    #button2 {

        margin-top: 26px;
    }

    .buttons {

        display: flex;
        flex-direction: column;
        width: auto;
    }



}

/* SECTION FIRST MEDIA SCREEN */ 


@media screen and (max-width: 480px) {

    .overflow-second {

        width: auto;
    }

    .themes {

        display: none;
    }

    .underli {

        display: flex;
        flex-direction: column;
    }

    .obout-themes {

        width: auto;
    }

    .completed {

        width: 220px;
        height: 66px;
        margin: 0;
    
    }

    .complete-description {

        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .Completed-projects {

        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
    }

    .description {

        width: 311px;
        height: 86px;
        padding: 0;
    }

    .description-text {

        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
        margin-top: 10px
    }

    .about-project {

        width: auto;
    }

    .div-city-text, .div-cost-text, .div-time-text,.div-area-text {

        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 138.6%;
        text-transform: uppercase;
        color: #E3B873;
    }

    .name-city-text, .much-time-text, .much-cost-text, .much-area-text {
        
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 135.84%;
        color: #FFFFFF;
    }

    .location, .area, .time, #costdiv {


    }

    .about-project {

        display: block;
    }

    .vec-img {

        display: none;
    }
}